 .header{
    max-width: 1800px;
    height: 50px !important;
    background-color: #93939754;
    box-shadow: 0px 0px 6px rgb(0, 0, 0);
    border-radius: 2vh;
    margin-bottom: 20px;
    margin-left: 57px;
}

.button {
    
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #3498db;
    border-radius: 5px;
    color: #ffffff;
    background-color: #3498db;
    transition: background-color 0.3s, color 0.3s, transform 0.2s, box-shadow 0.2s;
  }
  
  .button:hover {
    background-color: #2980b9;
    color: #ffffff;
    transform: translateY(-3px); /* Elevate by 3 pixels */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  }